.kalert-overlay {
  position: fixed;

  inset: 0;

  background: rgba(0, 0, 0, 0.45);

  backdrop-filter: blur(8px);

  display: flex;

  justify-content: center;

  align-items: center;

  animation: kfade 0.25s ease;

  z-index: 9999;
}

.kalert-box {
  width: 340px;

  background: white;

  border-radius: 18px;

  padding: 30px;

  text-align: center;

  font-family: system-ui;

  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.3);

  animation: kscale 0.25s ease;
}

.kalert-title {
  font-size: 20px;

  font-weight: 700;

  margin-bottom: 8px;
}

.kalert-icon {
  font-size: 50px;

  margin-bottom: 12px;
}

.kalert-success .kalert-icon {
  color: #22c55e;
}

.kalert-error .kalert-icon {
  color: #ef4444;
}

.kalert-warning .kalert-icon {
  color: #f59e0b;
}

.kalert-info .kalert-icon {
  color: #3b82f6;
}

.kalert-message {
  margin-bottom: 20px;

  color: #555;
}

.kalert-input {
  width: 100%;

  padding: 10px;

  border-radius: 8px;

  border: 1px solid #ddd;

  margin-bottom: 20px;

  font-size: 14px;
}

.kalert-buttons {
  display: flex;

  gap: 10px;

  justify-content: center;
}

.kalert-btn {
  border: none;

  padding: 10px 20px;

  border-radius: 10px;

  cursor: pointer;

  font-weight: 600;

  background: #6366f1;

  color: white;

  transition: 0.2s;
}

.kalert-btn.cancel {
  background: #e5e7eb;

  color: #111;
}

.kalert-btn:hover {
  transform: translateY(-2px);

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

@keyframes kfade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes kscale {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
